h2 {
    color: crimson;
    background-color: black;
}
/* bunu projeye bağlamak için projenin head kısmında link tagini kullanmam lazım  */

h3 {
    color: blueviolet;
}

p {
    color: brown;
}
.firstdiv {
    background-color: green;

}
div {
    background-color: black;
}

span {
    background-color: royalblue;
}

h1 {
    color: white;
}

h4 {
    color: white;
}

#myp {
    background-color: blue;
}